<nav>
  <div class="wrapper">
    <h1>Table <span class="preposition">of</span> contents</h1>
    <ol>
      <li class="overview"><a href="{{site.baseurl}}/">Overview</a></li>
      <li class="case-study"><a href="{{site.baseurl}}/case-study">Case study</a></li>
      <li class="process">
        <a href="{{site.baseurl}}/process">Process</a>
        <ol>
          <li class="ignition"><a href="{{site.baseurl}}/process/ignition">Ignition</a></li>
          <li class="inception"><a href="{{site.baseurl}}/process/inception">Inception</a></li>
          <li class="procurement"><a href="{{site.baseurl}}/process/procurement">Procurement</a></li>
          <li class="delivery"><a href="{{site.baseurl}}/process/delivery">Delivery</a></li>
          <li class="landing"><a href="{{site.baseurl}}/process/landing">Landing</a></li>
        </ol>
      </li>
      <li class="primers">
        <a href="{{site.baseurl}}/primers">Primers</a>
        <ol>
          <li class="agile"><a href="{{site.baseurl}}/primers/agile">Agile</a></li>
          <li class="lean-startup"><a href="{{site.baseurl}}/primers/lean-startup">Lean Startup</a></li>
          <li class="human-centered-design"><a href="{{site.baseurl}}/primers/human-centered-design">Human-Centered Design</a></li>
          <li class="open-innovation"><a href="{{site.baseurl}}/primers/open-innovation">Open Innovation</a></li>
          <li class="modular-contracting"><a href="{{site.baseurl}}/primers/modular-contracting">Modular contracting</a></li>
        </ol>
      </li>
      <li class="about"><a href="{{site.baseurl}}/about">About</a></li>
      <li class="glossary"><a href="{{site.baseurl}}/glossary">Glossary</a></li>
    </ol>
  </div>
</nav>