<nav>
  <ol>
    <li><a href="{{site.baseurl}}/">Overview</a></li>
    <li><a href="{{site.baseurl}}/case-study">Case study</a></li>
    <li>
      <a href="{{site.baseurl}}/process">Process</a>
      <ol>
        <li><a href="{{site.baseurl}}/process/ignition">Ignition</a></li>
        <li><a href="{{site.baseurl}}/process/inception">Inception</a></li>
        <li><a href="{{site.baseurl}}/process/procurement">Procurement</a></li>
        <li><a href="{{site.baseurl}}/process/delivery">Delivery</a></li>
        <li><a href="{{site.baseurl}}/process/landing">Landing</a></li>
      </ol>
    </li>
    <li><a href="{{site.baseurl}}/primers">Primers</a></li>
    <li><a href="{{site.baseurl}}/about">About</a></li>
    <li><a href="{{site.baseurl}}/glossary">Glossary</a></li>
  </ol>
</nav>